.switch {
  position: absolute;
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__button {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 100%;
    border: none;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    width: 30px;
    height: 30px;

    &::after {
      content: "";
      position: absolute;
      inset: 3px;
      border: 4px solid black;
      border-radius: 100%;
    }
  }
}

.background {
  position: absolute;
  inset: 0;
  display: flex;
  overflow: hidden;
  z-index: -1;

  &__bg-image {
    min-width: 100%;
    transition: 0.5s ease-in;

    img {
      object-fit: cover;
      opacity: 2;
      height: 100%;
      width: 100%;
    }
  }
}
