.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    .title {
      text-align: center;
      color: white;
      font-size: 5rem;
      font-weight: 400;
    }

    .action {
      margin-top: 2rem;
    }
  }
}
